{% extends "base.html" %}

                     {% block content %}

                     <!-- // Basic multiple Column Form section start -->
                                    <section id="multiple-column-form">
                                        <div class="row match-height">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Ricerca Docente per materia</h4>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div align="center"><strong>{{risposta}}</strong><br></div>

                                                                <form method="post"  action="/materia_docente" name="Prodotto"  class="form">

                                                                <div class="form-body">
                                                                    <div class="row">

                                                                        <div class="col-md-6 col-12">
                                                                            <div class="form-label-group">
                                                                                 <select id="Desc" class="form-control" name="Materia">
                                                                                {% for pro in listapro: %}
                                                                                <option value="{{pro.prezzo}}">{{pro.nome}}</option>
                                                                                {% endfor %}
                                                                                </select>
                                                                                <label for="Desc">Seleziona Materia</label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6 col-12">

                                                                        </div>









                                                                        <div class="col-md-6 col-12"></div>
                                                                       <div class="col-md-6 col-12 d-flex justify-content-end">
                                                                           <button type="submit" class="btn btn-primary btn-block block-page  text-nowrap mr-1 mb-1"  style="width:30%;">Cerca Ora</button>
                                                                       </div>
                                                                    </div>
                                                                </div>
                                                            </form>













                                                        </div>




                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- // Basic multiple Column Form section end -->



                     {% endblock %}
